body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
      background-image: url(psychedelic-paper-shapes-with-copy-space.jpg);
  background-size: cover;
 background-repeat: no-repeat;
}
.container{
    position: relative;
    margin-top: 3%;
   width: 700px;
   height: 600px;
    background-color: #4d8bc8;
}
#heading{
    width: 92%;
    position: absolute;
    top: 31px;
    right: 4%;
    text-align: center;
    background-color: black;
    color: white;
    z-index: 0;
    height: 12%;
}



#inputBox{
    height: 13%;
    z-index: 1;
    position: absolute;
    width: 92%;
    background-color: #cbe5fe;
    bottom: 67%;
    right: 4%;
    font-size: 3rem;
} 

.main-box{
    position: absolute;
    width: 92%;
    height: 60%;
    background-color: white;
    bottom: 2%;
    right: 4%;
}


.row input{
 height: 52px;
 width:20%;
 font-size: 2rem;
 cursor: pointer;
}

#zero{
   flex-grow: 2;
   
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5%;
}
.row-5 input{
     background-color: #4d8bc8;
    border-color: aliceblue;
}

#five{
    background-color: orange;
}

